<!DOCTYPE html>
<html>
  <head>
    <title>Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="session_block">
      <% if signed_in? %>
        <%= current_user.email %>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "login", new_user_session_path %>
        <br>
        <%= link_to "sign up", new_user_registration_path %>
      <% end %>
    </div>
    <%= link_to "Items", items_path if signed_in? %>
    <%= link_to "my basket", basket_path(current_user.basket.id) if signed_in? %>
    <br>
    <%= yield %>
  </body>
</html>
